body{
    background-color: rgb(51, 47, 47);
}
.selfie{
   background-image: url(images/selfie_me.jpg);
   background-size: 200px;
   border-radius: 10px;
   width: 200px;
   height: 200px;
   border: 2px solid;
   color: rgb(255, 255, 255);
   margin:auto;
}
.headline{
    color: white;
    text-align: center;
    font-family: Bahnschrift;
}
.instagram{
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-family: Bahnschrift;
    padding: 20px;
}
.button1{
    background-color: rgb(233, 76, 173);
    background-image: url(images/instagram.png);
    border-radius: 10px;
    background-size: 75px;
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 25px 200px;
    text-decoration: none;
    color: black;
}
.button1:hover{
    background-color: rgb(231, 106, 183);
    border-radius: 10px;
    text-decoration: none;
    padding: 25px 200px;
    box-shadow: black 1px 1px 10px;
}
.github{
    text-align: center;
     font-size: 20px;
     cursor: pointer;
     font-family: Bahnschrift;
     padding: 40px;
}
.button2{
    background-color: rgb(233, 76, 173);
    background-image: url(images/github.png);
    border-radius: 10px;
    background-size: 75px;
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 25px 200px;
    text-decoration: none;
    color: black;
}
.button2:hover{
    background-color: rgb(231, 106, 183);
    border-radius: 10px;
    text-decoration: none;
    padding: 25px 200px;
    box-shadow: black 1px 1px 10px;
}